/* @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


/* Estilos del Header */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 25px 50px;
    background-color: #003366;
    color: #f8f9fa;
    max-height: 110px;
}


header > h1 {
    font-weight: 700;
    margin-left: 100px;
}

nav > ul {
    list-style: none;
}

nav > ul > li {
    display: inline-block;
    /* margin-right: 100px; */
    margin: 15px 70px 0 0;
    font-size: 1.15rem;
}

#title {
    margin-right: auto;
}

.to-login-btn {
    background-color: rgb(7, 7, 98);
    color: white;
    padding: 16px 30px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
}

.to-login-btn:hover {
    background-color: #357ABD;
    transition: .5s;
}

#profile-pic {
    width: 50px;
    position: relative;
    right: 40px;
    bottom: 4px;
}

.welcome-msg {
    font-weight: 700;
    font-size: 1.18rem;
    position: relative;
    /* top: px; */
}

/* Estilos del Footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

footer > p {
    text-align: center;
    font-weight: 700;
    font-size: 0.75rem;
}

footer > hr {
    width: 80%;
    margin: 10px auto;
    background-color: #f8f8f8;
}

/* Estilos del landing page */
.header-landing {
    background-image: url('https://images.pexels.com/photos/6963017/pexels-photo-6963017.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover; /* Asegura que la imagen cubra todo el header */
    background-position: center; /* Centra la imagen */
    color: white;
    text-align: center;
    padding: 140px 20px; /* Ajusta el padding según sea necesario */
    position: relative; /*Para el efecto de superposición*/
}

.header-landing::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Superposición oscura */
    z-index: 1; /* Colocar la superposición detrás del texto */
}

.header-landing h1 {
    position: relative; /* Para mantener el texto sobre la superposición */
    z-index: 2; /* Asegurarse de que el texto esté encima */
    font-size: 2.5rem; /* Aumentar el tamaño del texto */
    margin-bottom: 20px; /* Espacio debajo del título */
}


.header-landing p {
    position: relative; /* Para mantener el texto sobre la superposición */
    z-index: 2; /* Asegurarse de que el texto esté encima */
    font-size: 1.25rem; /* Tamaño de texto más grande */
}

#mission {
    background-color: #f8f9fa; /* Color de fondo suave */
    padding: 40px 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    margin: 55px 0; /* Margen superior e inferior */
}
#mission h2 {
    color: #0056b3; /* Color del título */
    margin-bottom: 20px; /* Espacio debajo del título */
}
#mission p {
    font-size: 1.1rem; /* Aumenta el tamaño del texto */
    text-align: center; /* Centrar texto */
}

#services {
    margin: 80px 0;
}

#services > h2 {
    color: #007bff;
    font-weight: bold;
}

.card {
    transition: transform 0.3s, box-shadow 0.3s;
    border: none;
    display: flex;
    flex-direction: column; /* Asegura que los elementos se alineen en columna */
}

.card-body {
    flex-grow: 1; /* Permite que el card-body ocupe el espacio disponible */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card i {
    transition: transform 0.3s; /* Añadir transición a los íconos */
}

.card:hover i {
    transform: scale(1.2) rotate(10deg); /* Escalar y rotar al pasar el cursor */
}

.footer-landing {
    background-color: #003366; /* Color de fondo del footer */
    color: white;
    padding: 20px 0; /* Espaciado interno */
    text-align: center; /* Centrar texto */
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-landing p {
    margin: 0; /* Eliminar margen */
    font-size: 1rem; /* Tamaño de texto del footer */
}
.footer-landing .gold {
    color: #ffd700; /* Color dorado para el segundo párrafo */
}
.footer-landing a:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor */
}

/* Estilos del formulario de registro */
.form-container {
    max-width: 400px;
    margin: 30px auto;
    padding: 10px 30px;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    transition: transform 0.3s;
}

.form-container:hover {
    transform: scale(1.02); /* Efecto de aumento al pasar el ratón */
}

.form-container > h1 {
    font-size: 24px; /* Tamaño del título */
    color: #4A90E2; /* Color del título */
    text-align: center;
    margin-top: 10px;
}

#registration-form > label {
    font-weight: 700; /* Negrita para las etiquetas */
    margin-top: 10px;
    display: block; /* Asegúrate de que ocupe el ancho completo */
}

#registration-form > input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px; /* Espacio entre los campos */
    border: 1px solid #ddd;
    border-radius: 8px; /* Bordes más suaves */
    transition: border 0.3s;
}

#registration-form > input:focus {
    border-color: #4A90E2; /* Cambia el color del borde al enfocar */
    outline: none;
}

#registration-form > button {
    width: 100%;
    padding: 10px;
    background-color: #4A90E2; /* Azul claro */
    color: white;
    border: none;
    border-radius: 8px; /* Bordes más suaves */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#registration-form > button:hover {
    background-color: #357ABD; /* Azul más oscuro */
}

.form-container > p {
    text-align: center;
    margin-top: 15px; /* Espacio superior */
    font-size: 14px;
}

.form-container > a {
    color: #4A90E2;
    text-decoration: none; /* Sin subrayado */
}

.form-container > a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}

/* Estilos del Login */
#login-form {
    margin-top: 50px;
}

#login-form > h1 {
    font-size: 24px; /* Tamaño del título */
    color: #4A90E2; /* Color del título */
    text-align: center;
    margin-bottom: 20px;
}

#login-form > label {
    font-weight: 700; /* Negrita para las etiquetas */
    margin-top: 10px;
    display: block; /* Asegúrate de que ocupe el ancho completo */
}

#login-form > input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px; /* Espacio entre los campos */
    border: 1px solid #ddd;
    border-radius: 8px; /* Bordes más suaves */
    transition: border 0.3s;
}

#login-form > input:focus {
    border-color: #4A90E2; /* Cambia el color del borde al enfocar */
    outline: none;
}

#login-form > button {
    width: 100%;
    padding: 10px;
    background-color: #4A90E2; /* Azul claro */
    color: white;
    border: none;
    border-radius: 8px; /* Bordes más suaves */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#login-form > button:hover {
    background-color: #357ABD; /* Azul más oscuro */
}

/* Estilos del menu */
.menu-container {
    display: flex;
    justify-content: center;
    margin-top: 140px;
}

.option {
    background-color: #F6F3F3;
    width: 305px;
    height: 172px;
    margin: 20px 15px;
    box-shadow: 7px 9px 5px 0px rgba(0,0,0,0.02);
    cursor: pointer;
}

.option:hover {
    transform: scale(1.02);
    transition: 0.4s;
}

.latest-expense-container {
    border-top-left-radius: 15px;
}

.latest-expense-content > p {
    position: relative;
    top: 20px;
    left: 18px;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

.latest-expense-content > h1 {
    position: relative;
    top: 45px;
    left: 85px;
    margin: 0;
    font-weight: 700;
}
.latest-expense {
    display: flex;
    justify-content: center;
    gap: 7px;
    position: relative;
    top: 65px;
}

.latest-expense > img {
    width: 24px;
    height: 24px;
    position: relative;
    bottom: 7px;
}

.latest-expense > p {
    font-size: 12px;
    font-weight: 700;
}

.add-expense-container {
    border-top-right-radius: 15px;
    position: relative;
}

.option-legend {
    position: absolute;
    top: 50px;
    left: 20px;
}

.option-legend > p {
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
}

.add-expense-img-container > img {
    width: 90px;
    position: absolute;
    right: 20px;
    bottom: 40px;
}

#red-arrow-add {
    right: 70px;
    width: 95px;
}

.payment-methods-container {
    border-bottom-left-radius: 15px;
    position: relative;
}

.payment-methods-img-container > img {
    width: 70px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#money-img-methods {
    width: 66px;
    right: 50px;
}

.history-container {
    border-bottom-right-radius: 15px;
    position: relative;
}

.history-content > img {
    position: absolute;
    width: 100px;
    right: 20px;
    bottom: 45px;
}

.alert-register {
    position: relative;
    bottom: 215px;
    left: 190px;
}

/* Estilos de la lista de metodos de pago y gastos. */
.pms-container {
    background-color: #cbd7ff;
    box-shadow: 7px 9px 5px 0px rgba(0,0,0,0.02);
    color: #000000;
    display: inline-block;
    margin: 100px 510px;
    width: 900px;
    padding: 30px 40px;
    border-radius: 15px;
}

.pms-container > hr {
   color: #f8f8f8;
   border-width: 2px;
}

.pms-header > h3 {
    text-transform: uppercase;
    font-weight: 700;
}

.pms-header {
    display: flex;
    justify-content: space-between;
}

.payment-method-header > p {
    margin-top: 15px;
    font-weight: 500;
}


.user-pmtds-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.payment-method {
    background-color: #b4c6f3;
    box-shadow: 7px 9px 5px 0px rgba(0,0,0,0.02);
    border-radius: 10px;
    width: 350px;
    padding: 20px 40px;
    margin: 20px 0;
}

.payment-method:hover {
    transform: scale(1.02);
    transition: 0.4s;
}

.payment-method-header {
    display: flex;
    justify-content: space-between;
}

.fa-dollar-sign {
    color:green;
}

.money-spent {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.money-spent > p {
    font-weight: 500;
}

.icon-container-pm {
    background-color: #007bff;
    border-radius: 50%;
    padding: 15px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container-e {
    background-color: #84bd80;
    border-radius: 50%;
    padding: 15px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-button {
    border: none;
    background: transparent;
    cursor: pointer;
    margin-left: 20px;
}

.fa-trash-alt {
    font-size: 1.5em; /* Tamaño igualado al del ejemplo */
}

.fa-trash-alt:hover {
    color: rgba(125, 7, 7, 0.859);
}

.modal-form-btn {
    background-color: hsl(226, 71%, 29%);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-weight: 500;
    padding: 10px;
    text-transform: uppercase;
}

/* Estilos del formulario de los modal */
.add-expense-form {
    padding: 30px 0;
}

.add-expense-form > input, select {
    margin-bottom: 30px;
}

.add-expense-form > button {
    background-color: hsl(245, 75%, 52%);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 18px 20px -1px rgba(219, 219, 219, 1);
    color: white;
    font-weight: 700;
    padding: 10px;
}

.add-pm-form {
    padding: 40px 0;
}

.add-pm-form > label {
    margin: 20px 0 10px 0;
}

.add-pm-form > button {
    background-color: hsl(245, 75%, 52%);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 18px 20px -1px rgba(219, 219, 219, 1);
    color: white;
    font-weight: 700;
    padding: 10px;
}


/* Estilos del Sidebar */
.sb-container {
    position: absolute;
    width: 110px;
    height: 88.4%;
    background-color: #F6F3F3;
}

.sb-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 120px;
}

.sb-item {
    width: 40px;
    margin: 20px 0;
    cursor: pointer;
}

.sb-item:hover {
    transform: scale(1.02);
    transition: 0.4s;
}

.sb-item > img {
    margin-bottom: 10px;
    width: 42px;
}

.sb-item > p {
    font-size: 10px;
    font-weight: 700;
    text-align: center;
}

/* Estilos de la pagina del historial */
.bar-chart-container {
    margin: 70px 770px;
}

.details-container {
    margin: 190px 240px;
    background-color: #003366;
    width: 18%;
    position: absolute;
    height: 38%;
    padding: 40px 30px 0 30px;
    color: white;
    box-shadow: 0px 25px 36px -3px rgba(0,0,0,0.27);
}

.details-content {
    display: flex;
    flex-direction: column;
}

.details-content > p {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

#month {
    width: 240px;
}

.month-label {
    font-size: 32px;
    font-weight: 700;
}

.history-btn {
    background-color: hsl(245, 75%, 52%);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    height: 40px;
    width: 240px;
}


/* Estilos ChangePswPage */

/* Estilos generales */
body.change-psw {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    /* Fondo gris suave */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Contenedor del formulario */
.form-container {
    background-color: #ffffff;
    /* Fondo blanco */
    padding: 40px 30px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

/* Título del formulario */
.form-container h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #003366;
    /* Usamos el azul oscuro de la cabecera */
    font-weight: 700;
}

/* Etiquetas y campos de entrada */
.form-container label {
    font-size: 0.9rem;
    color: #333333;
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.form-container input[type="email"] {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    /* Bordes suaves */
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
    transition: border 0.3s ease-in-out;
}

.form-container input[type="email"]:focus {
    border-color: #4A90E2;
    /* Azul claro al enfocar */
    outline: none;
}

/* Botón de envío */
.form-container button {
    width: 100%;
    padding: 14px 20px;
    background-color: #4A90E2;
    /* Usamos el azul claro */
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container button:hover {
    background-color: #357ABD;
    /* Azul más oscuro al pasar el ratón */
}

/* Enlace para iniciar sesión */
.form-container p {
    margin-top: 20px;
}

.form-container p a {
    color: #4A90E2;
    /* Azul claro para el enlace */
    text-decoration: none;
    font-size: 0.9rem;
}

.form-container p a:hover {
    text-decoration: underline;
}

/* Estilos para la alerta de éxito */
.alert-register {
    width: 100%;
    /* Asegura que la alerta ocupe todo el ancho */
    margin-top: 20px;
    /* Separación de la alerta con el formulario */
    box-sizing: border-box;
    /* Para que no se desborde */
    text-align: center;
    /* Centra el texto dentro de la alerta */
}

/* Estilo para alerta de éxito */
.alert-register .MuiAlert-root {
    font-size: 1rem;
    border-radius: 8px;
    padding: 12px;
}

/* Estilo para alerta de éxito */
.alert-register .MuiAlert-success {
    background-color: #d4edda;
    color: #155724;
}

/* Estilo para alerta de error */
.alert-register .MuiAlert-error {
    background-color: #f8d7da;
    color: #721c24;
}


/* Estilos NewPswCodePage */

/* Estilos generales */
body.verify-code-page {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    /* Fondo gris suave */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Centra el contenido horizontalmente */
    align-items: center;
    /* Centra el contenido verticalmente */
    min-height: 100vh;
    /* Asegura que ocupe toda la altura de la ventana */
    overflow: hidden;
}

/* Contenedor del formulario */
.form-container input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    /* Bordes suaves */
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
    transition: border 0.3s ease-in-out;
}

.form-container input[type="text"]:focus {
    border-color: #4A90E2;
    /* Azul claro al enfocar */
    outline: none;
}

/* Estilos para la alerta de éxito */
.alert-register {
    margin-top: 20px;
    text-align: center;
}

.alert-register .MuiAlert-root {
    width: 100%;
    font-size: 1rem;
    margin-top: 10px;
    border-radius: 8px;
    padding: 12px;
    box-sizing: border-box;
    font-weight: 500;
}

/* Estilo para alerta de éxito */
.alert-register .MuiAlert-success {
    background-color: #d4edda;
    color: #155724;
}

/* Estilo para alerta de error */
.alert-register .MuiAlert-error {
    background-color: #f8d7da;
    color: #721c24;
}

/* Diseño RequestPswChangePage */

/* Estilos generales */
body.change-psw-page {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    /* Fondo gris suave */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Centra el contenido horizontalmente */
    align-items: center;
    /* Centra el contenido verticalmente */
    min-height: 100vh;
    /* Asegura que ocupe toda la altura de la ventana */
    overflow: hidden;
}

.form-container input[type="password"] {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    /* Bordes suaves */
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
    transition: border 0.3s ease-in-out;
}

.form-container input[type="password"]:focus {
    border-color: #4A90E2;
    /* Azul claro al enfocar */
    outline: none;
}

/* Estilos para la alerta de éxito */
.alert-register {
    margin-top: 20px;
    text-align: center;
}

.alert-register .MuiAlert-root {
    width: 100%;
    font-size: 1rem;
    margin-top: 10px;
    border-radius: 8px;
    padding: 12px;
    box-sizing: border-box;
    font-weight: 500;
}

/* Estilo para alerta de éxito */
.alert-register .MuiAlert-success {
    background-color: #d4edda;
    color: #155724;
}

/* Estilo para alerta de error */
.alert-register .MuiAlert-error {
    background-color: #f8d7da;
    color: #721c24;
}